body{
  font-family: "Montserrat"
}
#title{
  background-color: #ea2c62;
  color:#fff;
}
.container-fluid{
  padding:3% 15% 7%;
}
h2{
  font-family: Montserrat-bold;
  font-size: 3.9rem;
  line-height: 1.5;
}
h3{
  font-family: Montserrat-bold;
  font-weight: bold;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 4.5rem;
  line-height: 1.5;
  font-weight: bold;
}
/* navbar */
.navbar{
  padding:0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-link{
  font-family: "Montserrat-light";
  font-size:1.2rem;
}
/* buttons */
.Download-button{
  margin: 5% 3% 5% 0;
}

/* title-image */
.title-image {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* with space parent child hierarchical selectors read right to left */

/* no space read left to right with no hierarchy and no parent/child relationship */

#title .container-fluid {
  padding: 3% 14% 7%;
}

/* Features Section */
#features {
  position: relative;
  background-color: #fff;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color:#ff9a8c;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ea2c62;
}

 /* testimonial */
#testimonials{

  text-align:center;
  background-color: #ff8585;
  color:#fff;

}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
background-color: #ff8585;
padding-bottom: 3%;
text-align: center;
}
.logo{
  width: 10%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding: 7% 15%;
}

/* pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
.bb:hover{
  background-color: #ec5858;
  color: #c0e218;
}
.price-text {
  background-color: #b088f9;
  font-size: 3rem;
  line-height: 1.5;
}
.card-header{
  background-color:#c0e218;
}

/* @media <type> <feature> */
@media only screen and (max-width: 991px) {
  #title {
    text-align: center;

  }


  .title-image {
    position: static;
    transform: rotate(0deg);
    width: 60%;
  }
}
@media  (min-width: 991px) and (max-width:1210px) {



  .title-image {

    left: 50%;
    width: 30%;
    padding-left: 10%;

  }
}

/* Call to Action */
#cta
{
  color: #fff;
  padding: 7% 15%;
  background-color: #ea86b6;
  text-align: center;
}

}
.cta-h3{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer */
#footer{
  font-weight: bold;
  padding: 7% 15%;
  text-align: center;

}
.social-icon {
  margin: 20px 10px;
